<html>
  <head>
    <title>Art Flip</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <script src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>

  <body>
    <div id="content">
      <div id="control_toggle">+</div>
      <div id="controls">
        Rows <input type="text" class="rows" /> <input type="button" class="rows_submit" value="Submit" />
      </div>
      <div class="container"></div>
    </div>
  </body>
</html>
